{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>{{ capitalizar nombre }}</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/profile.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}